body{
  font-family: 'Helvetica Neue', sans-serif;   
}


.debug{
  background-color: rgba(170, 224, 83, .2);
  border: 1px solid black;
}

img{
  max-width: 100%;;
}

header{
  height: 100%;
}

.sa-title{
  font-size: 4rem;
}

.sa-sub-title{
  font-size: 1.5rem;
}

.sa-star:before,
.sa-star:after{
  content: '';
  display: inline-block;
  width: 17%;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 20px;
}

#portfolio .sa-star:before,
#portfolio .sa-star:after,
#contactme .sa-star:before,
#contactme .sa-star:after{
  background-color: #2C3E50;
}


.fa-star{
  font-size: 25px;
  vertical-align: middle;
  margin: 15px 0;
}

.my-bg{
  background-color: #2c3e50 !important;
}

#jumbotron img{
  width: 300px;
  height: 300px;
}

section{
  padding: 60px 0;
}

#jumbotron{
  background-color: #59b89c;
  
}

#portfolio{
  background-color: #fff;
  color: #2d2d2d;
}

#portfolio .sa-card{
  
  /* height: 265px; */
}

#portfolio .sa-card img{
 border-radius: 5px;
}

.sa-container{
  width: 60%;
  margin: 0 auto;
}

#contactme .form{
  height: 690px;
}

.my-form input,
.my-form textarea{
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.sa-button{
  background-color: #59b89c;
  border-color: white;
}


.my-form input:focus,
.my-form textarea:focus{
  box-shadow: none;
}

.my-form input::placeholder,
.my-form textarea::placeholder{
  color: #2b3d4f;
}

#about{
  background-color: #59b89c;
}

.my-button{
  background-color: #1abc9c;
  border: none;
}

.my-button:hover {
  background-color: #137964;
}

.footer-top{
  background-color: #42546a;
}

.icon{
  width:35px;
  height: 35px;
  text-align:center;
  line-height: 35px;
}


.footer-bottom{
  background-color: #33404f;
}

.footer-top span{
  color: #54b199;
}